:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 1px 0 6px rgba(0, 21, 41, 0.1);
}

.custom-menu {
  margin-top: 10px;
}

.custom-menu li {
  height: 48px;
  align-items: center;
}

.custom-menu li a i {
  font-size: 20px; /* Adjust the font size for the icons */
  margin-right: 7px; /* Add space between the icon and the text */
  font-weight: 600;
}

.custom-menu li a span {
  font-size: 15px; /* Adjust the font size for the text */
  font-weight: 600;
}

.header-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
  border-bottom: 1px solid #f0f2f5;
}

.sidebar-logo img {
  display: inline-block;
  height: 42px;
  width: 42px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 15px;
  font-weight: 700;
  font-size: 24px;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.layout-container {
  max-width: none;
  min-width: 1000px;
}

.content-layout {
  overflow: auto;
  padding: 18px;
}

.app-layout .app-header {
  height: 64px;
  padding: 0 24px 0 0;
  background: #fefefe;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  flex-wrap: nowrap;
}

.icon-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eff2f6;
  cursor: pointer;
}
.icon-tag span {
  font-size: 18px;
}

.flex-nowrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}

.flag {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .ant-badge-count,
.ant-badge-dot {
  position: absolute;
  top: 5px;
  right: 4px;
  transform: translate(50%, -50%);
  transform-origin: 100% 0;
}

li.active.ant-dropdown-menu-item.ng-star-inserted {
  background-color: whitesmoke;
}
