<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="../assets/logo.svg" alt="logo">
        <h1>Products</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
          <i nz-icon nzType="dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/products">
          <i nz-icon nzType="shopping-cart"></i>
          <span>Products</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/categories">
          <i nz-icon nzType="appstore"></i>
          <span>Categories</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/attributes">
          <i nz-icon nzType="tags"></i>
          <span>Attributes</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/order">
          <i nz-icon nzType="shopping"></i>
          <span>Order</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/user">
          <i nz-icon nzType="user"></i>
          <span>User</span>
        </a>
      </li>
    </ul>

  </nz-sider>
  <nz-layout style="overflow-y: auto;">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div style="margin-bottom: 24px;">
        <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>Application List</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>An Application</nz-breadcrumb-item>
        </nz-breadcrumb>

      </div>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
    <div>footer</div>
  </nz-layout>
</nz-layout>