<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="dashboard">
        <img src="../assets/logo.svg" alt="logo">
        <h1>Products</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="custom-menu">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
          <i nz-icon nzType="dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/products">
          <i nz-icon nzType="shopping-cart"></i>
          <span>Products</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/categories">
          <i nz-icon nzType="appstore"></i>
          <span>Categories</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/attributes">
          <i nz-icon nzType="tags"></i>
          <span>Attributes</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzDisabled>
        <a routerLink="/order">
          <i nz-icon nzType="shopping"></i>
          <span>Order</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/user">
          <i nz-icon nzType="user"></i>
          <span>User</span>
        </a>
      </li>
    </ul>

  </nz-sider>
  <nz-layout style="max-width: none; min-width: 1000px;">
    <nz-header nz-row nzJustify="space-between" class="app-header" style="padding-right: 40px;">
      <div nz-col class="flex-nowrap">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <!-- <app-search-input></app-search-input> -->
      </div>
      <div nz-col class="flex-nowrap" style="gap: 15px; ">
        <div>
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" style="color:black">
            English
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>English</li>
              <li nz-menu-item>Khmer</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <nz-badge [nzCount]="5">
          <div class="icon-tag">
            <span nz-icon nzType="bell" nzTheme="outline" style="font-size: 18px;"></span>
          </div>
        </nz-badge>
        <nz-badge [nzCount]="5">
          <div class="icon-tag">
            <span nz-icon nzType="message" nzTheme="outline" style="font-size: 18px;"></span>
          </div>
        </nz-badge>
        <div class="icon-tag">
          <span nz-icon nzType="appstore" nzTheme="outline" style="font-size: 18px;"></span>
        </div>

        <div class="flex-nowrap">
          <nz-avatar nzIcon="user" nzSize="large"
            nzSrc="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></nz-avatar>
          <h4 style="margin: 0;"> Tith Sopanha</h4>
        </div>
      </div>
    </nz-header>
    <nz-content style="overflow: auto; padding:  24px;">
      <!-- <div nz-row nzJustify="space-between" nzAlign="middle" style="margin-bottom:  15px;">
        <nz-breadcrumb [nzAutoGenerate]="true">
          <nz-breadcrumb-item>
            Home
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <div>
          <h2 style="margin: 0; font-weight: bold;">{{pageTitle}}</h2>
        </div>
      </div> -->
      <router-outlet></router-outlet>
      <!-- <div class=" inner-content">
          <router-outlet></router-outlet>
          </div> -->
      <!-- <nz-footer style="text-align: center;">Ant Design ©2020 Implement By Angular</nz-footer> -->
    </nz-content>

  </nz-layout>
</nz-layout>