/* You can add global styles to this file, and also import other style files */
.inner-content {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
  // min-height: 72vh;
  height: 100%;
}
button {
  border-radius: 10px;
}
